build/

CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
Testing/
cmake_install.cmake
src/CMakeFiles/
src/CTestTestfile.cmake
src/Makefile
src/cmake_install.cmake
src/example/CMakeFiles/
src/example/CTestTestfile.cmake
src/example/Makefile
src/example/Multiply_by_2.exe
src/example/cmake_install.cmake